@import "layout.css";
@import "text&colors.css";

:root{
    --clr-cyan: hsl(185, 75%, 39%);
    --clr-d-blue: hsl(229, 23%, 23%);
    --clr-gray-1: hsl(0, 0%, 59%);
    --clr-gray-2: hsl(227, 10%, 46%);

    --b-radius: 1rem;
}

*{
    margin: 0;
    padding: 0;
}

ul[class]{
    list-style: none;
<<<<<<< HEAD
}
=======
}

body{
    display: flex;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--clr-cyan-blue);
    background-image: 
    url(../images/bg-pattern-top.svg),
    url(../images/bg-pattern-bottom.svg)
   ;
    background-repeat: no-repeat, no-repeat;
    background-position: -19rem  -31rem, 45rem 23rem; 
}
/* Trying to fix background position */
@media(max-width: 476px){
    body{
        background-position: -45rem  -35rem, 15rem 20rem; 
    }
}
@media(max-width: 375px){
    body{
        background-position: -48rem  -35rem, 13rem 18rem; 
    }
}


main{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    flex-direction: column;
    gap: 2rem;
}

h1, .number{
    color: var(--clr-dark-blue);
    font-weight: 700;
}
span, .text, .location{
    color: var(--clr-gray);
    font-weight: 400;
}

header, .location{
    transform: translateY(-2rem);
}

/*====================================================================================================================*/

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    transform: translateY(-2rem);
    width: 22rem;
    
}

.perfil img{
    border-radius: 50%;
    border: 4px solid white;
    transform: translateY(-50px);
}

h1{
    font-size: 1.2rem;
    margin-bottom: .6rem;
}
span{
    font-size: 1.2rem;
    margin-left: 10px;
}

hr{
    border: .001rem solid rgb(235, 229, 229);
}

.infos{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    padding-bottom: 2rem;
    
    border-radius: 0 0 1rem 1rem;
}
 .number{
    font-size: 1.4rem;
    
 }
 .text{
    font-size: .8rem;
    letter-spacing: 2px;
}
>>>>>>> 84335b8e76a97c8ee998422c5a39224c212f53b9
