@import "layout.css";
@import "text&colors.css";

:root{
    --clr-cyan: hsl(185, 75%, 39%);
    --clr-d-blue: hsl(229, 23%, 23%);
    --clr-gray-1: hsl(0, 0%, 59%);
    --clr-gray-2: hsl(227, 10%, 46%);

    --b-radius: 1rem;
}

*{
    margin: 0;
    padding: 0;
}

ul[class]{
    list-style: none;
